/* 
======================
   1. Base Styles
   ====================== */
body {
  height: 100vh;
  width: 100%;
  font-family: Futura Medium, "Trebuchet MS", Arial, sans-serif;
  margin: 0;
  padding: 0;
  scrollbar-gutter: stable;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
/* ======================
     2. Header
     ====================== */
header {
  display: flex; /* Uses flexbox to layout items horizontally */
  justify-content: space-between; /* Spaces out elements across the header */
  z-index: 1; /* Ensures the header is on top of other content */
  width: 100%; /* Full width of the page */
}
.nav-bar {
  justify-content: space-between;
  display: flex; /* Flexbox for horizontal alignment */
  width: 100%;
  border-radius: 32px; /* Rounded corners for the nav bar */
  position: relative; /* Sets the nav bar's positioning context */
  z-index: 10;
  transition: background-color 0.5s ease-out;
  background-color: white;
}
.nav-bar-icons {
  display: flex; /* Aligns icons in a row */
  justify-content: space-between; /* Add space between icons */
  align-items: center; /* Vertically centers the icons */
  gap: 20px; /* Adjust the spacing between icons */
  padding-right: 5%;
}
.hamburger {
  cursor: pointer;
}

.nav-bar-icons img {
  width: 24px; /* Adjust icon size */
  height: auto; /* Ensures the height is proportionate */
}
.logo img {
  height: 150px;
  width: 100%; /* Makes the logo full width of its container */
  overflow: hidden; /* Hides any overflow from the image */
  object-fit: cover; /* Ensures the logo image fills the container */
}


/* Mobile Navigation */
nav {
  align-items: center; /* Vertically centers the navigation */
  justify-content: center;
}

ul {
  display: flex; /* Aligns list items vertically */
  justify-content: flex-start; /* Aligns items to the start (left) */
  flex-direction: column;
  font-size: 10px;
  color: white;
  text-transform: uppercase;
}
.underlist a {
  font-size: 18px;
  font-weight: 200;
  text-transform: lowercase;
}
.underlist {
  overflow: hidden;
  max-height: 0; /* Collapses the dropdown (hidden state) */
  transition: all 0.5s ease-in-out;
}

.underlist ul {
  overflow: visable;
  max-height: 0;
}
.underlist.show {
  max-height: none; /* Removes the max-height limit (shows the full list) */
  transition: all 0.5s ease-in-out;
}

.flokkar {
  overflow: hidden; /* Hides overflowing content */
  max-height: 0px; /* Collapses the list */
  transition: all 0.5s ease-in-out;
  text-transform: lowercase;
  font-family: futura;
}

.flokkar.show {
  max-height: none; /* Expands the list */
  transition: all 0.5s ease-in-out;
}

li {
  display: flex; /* Aligns list items horizontally */
  justify-content: flex-start;
  margin-bottom: 15px;
}
a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.blacklink {
  color: #686868;
}

.x {
  font-weight: 600;
  font-size: 16px;
}
.back {
  color: white;
  margin: 20px 28px 43px 20px;

  display: flex;
  justify-content: space-between;
}
.back p {
  text-decoration: underline;
  text-decoration-thickness: 1px; /*thinner*/
  text-underline-offset: 3px; /*distance*/
  font-size: 16px;
}

.menu-overlay {
  display: none; /* Initially hidden */
  position: absolute; /* Positioned relative to the viewport */
  top: 20%; /* Positions the menu right below the navbar */
  left: 60px;
  width: 90vw; /* Sets width to 90% of the viewport */
  height: 100vh; /* Full height of the viewport */
  background-color: #0073b9;
  z-index: 30; /* Below the navbar, but above other content */
  overflow-y: auto;
}

.mobile-links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 30px;
  font-weight: bold;
}

.vorur {
  line-height: 40px;
  font-family: futura;
}
.list-b {
  line-height: 40px;
  font-weight: 700;
  font-family: futura;
}

.matur a::first-letter,
.vorur + .underlist li:nth-child(3) a::first-letter, /* Targets first letter of "Fatnaður" */
.vorur + .underlist li:nth-child(4) a::first-letter, /* Targets first letter of "Heimili" */
.vorur + .underlist li:nth-child(5) a::first-letter  /* Targets first letter of "Börn" */ {
  text-transform: uppercase; /* Capitalizes the first letter */
}
.mobile-links.flokkar li a::first-letter {
  text-transform: uppercase; /* Capitalize only the first letter */
}



/*======================
         FOOTER
  ======================*/

footer {
  background-color: #0073b9;
  padding: 40px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 300;
}
footer h3 {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  font-weight: 400;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.socials {
  display: flex;
  filter: brightness(0) invert(1);
  margin-bottom: 50px;
}

.uppl {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  color: white;
  filter: brightness(0) invert(1);
}

.socials a {
  margin-right: 25px;
  margin-bottom: 50px;
}

.uppl a {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
  align-items: center;
}

.uppl a:nth-child(1) {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.uppl a p {
  margin: 0;
  font-weight: 200;
}

.uppl a img {
  margin-right: 25px;
  width: 30px;
  height: 30px;
}

.socials a img {
  width: 40px;
  height: 40px;
}
.copyright {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 14px;
  text-align: center;
  padding: 0 40px 0;
}

@media (max-width: 860px) {
  footer {
    padding-left: 20px;
    padding-right: 20px;
  }
  footer img {
    height: 20px;
    width: 20px;
  }
  .socials {
    margin-left: 5px;
  }
  .uppl a img {
    width: 20px;
    height: 20px;
  }
  .socials a img {
    width: 20px;
    height: 20px;
  }
}





