body{
  margin:0;
  padding:0;
}
img{
  width: 50px;
  height: 50px;
}

/*-----FOOTER-----*/

footer{
  margin-top: 67px;
  
  background-color: rgba(0, 0, 255, 0.585);
  
  padding: 80px;
  color: white;
  
}
footer h3{
  margin-bottom: 15px;
  font-size: 14px;
  font-weight:600;
  text-align: left;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;}

.socials{
  display: flex;
}

.uppl{
  display: flex;
  flex-direction: column;
  font-size: 18px;
  color: white;
}

.socials a{
  margin-right: 25px;
}

.uppl a{
  font-size: 12px;
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
  align-items: center;
}

.uppl a:nth-child(1){
  display: flex;
  flex-direction: row;
  width: 100%;
}

.uppl a p{
  margin:0;
}

.uppl a img{
  margin-right: 25px;
  width: 30px;
  height: 30px;
}

.socials a img{
  width: 40px;
  height: 40px;
}
.copyright{
  display: flex;
  align-items:flex-end;
  justify-content: center;
  margin-top: 70px;
  
}

@media (max-width: 860px){
  footer{
    margin-top: 67px;
    padding-left: 20px;
    padding-right: 20px;
  }
  footer img {
    height: 20px;
    width: 20px;
  }
  .socials{
    margin-left: 5px;
    
  }
  .uppl a img{
    width: 20px;
    height: 20px;
  }
  .socials a img {
    
    width: 20px;
    height: 20px;
  }


}



/*-----OPNUNARTÍMI-----*/

.opnunh2{
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.opnun-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 20px;
}

@media (max-width: 860px){
  .opnun-container{
    margin-left: 15%;
    margin-right: 15%;
  }
}

/*-----PRODUCT PAGE-----*/

.food-fruits{
  display: flex;
  justify-content: flex-start;
  margin: 21px 9px 10px 31px;
  align-items: center;
}



.matur-a{
  font-weight: 600;
  color: black;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  margin-right: 10px;
}

.rule{
  width: 15px;
  height: 1px;
  background-color: black;
  margin-right: 10px;
}
.rule::after{
  content: "";
  height: 5px;
  width: 5px;
  border-radius: 10px;
  background-color: black;
  color: black;
  float: right;
  margin-top: -2px;
}


.btn-container{
  margin: 0px 0px 29px 0px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.btn-container button{
  color: white;
  border-radius: 20px;
  border: none ;
  padding: 2px 16px 2px 16px; 
  background-color:#0073B9;
  margin: 10px 10px 10px 10px;
}



.products-container{
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: space-around;
  gap: 33px 13px;
  flex-wrap: wrap;
  margin: auto;
}


.products{
  height: 201px;
  width: 168px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 2px 2px 2px lightgray;
  border: 0.1px solid white;
  border-top: none;
}
/*-----Í SÍMASTÆRÐ OG EKKI Í MINNSTA SKJÁ-----*/
@media (max-width: 590px) and (min-width: 390px){
  .products-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-left: 10%;
  }
}

@media (max-width: 590px) and (min-width: 840px){
  .products-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 0px;
  }
}
/*-----Í MINNSTA SKJÁ-----*/
@media (max-width: 390px){
  .products-container{
    display: flex;
    justify-content: center;

  }
}

/*-----Í STÓRUM SKJÁ-----*/
@media (min-width: 840px){
  .products-container{
    display: flex;
    justify-content: space-around;
    
  }
  .food-fruits{
    margin-left: 30%;
  }
  .btn-container{
    display: flex;
  }
  .products{
    height: 350px;
    width: 250px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 2px 2px 2px lightgray;
    border: 0.1px solid white;
    border-top: none;
  }
  .save-icon{
    display: flex;
    justify-content: end;
    margin: 5px 5px 0px
  }
  .heart-img{
    width: 23px;
    height: 25px;
  }
  .product-image{
    position: absolute;
    display: flex;
    top: 15%;
    right: 26%;
    height: 110px;
    width: 110px;
  }
  .product-name{
    margin-top: 50%;
    margin-left: 10px;
    font-size: 16px;
    color: gray;
    font-weight: 550;
  }
  .products span{
    display: flex;
    justify-content: center;
    font-size: 18px;
  }
  .strong-price{
    margin-right: 5px;
  }
  
}

.save-icon{
  display: flex;
  justify-content: end;
  margin: 5px 5px 0px
}
.heart-img{
  width: 17px;
  height: 20px;

}

.product-image{
  position: absolute;
  top: 10%;
  right: 22%;
  height: 91px;
  width: 91px;
}

.product-name{
  margin-top: 50%;
  margin-left: 5px;
  font-size: 16px;
  color: gray;
  font-weight: 550;
}

.products span{
  margin-left: 5px;
  font-size: 14px;
}

.price-quantity{
  display: flex;
  justify-content: space-between;
  margin: 5px 10px 5px 5px;
  border-top: 1px solid rgba(208, 208, 208, 0.659);
}

.price-quantity img{
  height: 20px;
  width: 20px;
  margin: 5px 5px 0px 5px;
}

.info-img{
  width: 16px;
  height: 17px;
  border: 1px solid gray;
  border-radius: 34px;
  padding: 1px;
}

.info-a{
  color: lightgray;
}

.cart-a{
  height: 20px;
  width: 17px;
  margin: 2px 15px;
}







